body {
  font-family: Arial;
  background: #eee;
}

.barfiller {
  width: 100%;
  height: 6px;
  background: #70585D;
  /* border: 1px solid #ccc; */
  position: relative;
  margin-bottom: 20px;
  box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, .5);
  -moz-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, .5);
}

.barfiller .fill {
  display: block;
  position: relative;
  width: 0px;
  height: 100%;
  background: var(--colorPrimary) !important;
  z-index: 1;
}

.barfiller .tipWrap {
  display: none;
}

.barfiller .tip {
  margin-top: -45px;
  padding: 5px 10px;
  font-size: 12px;
  color: #fff;
  font-weight: 400;
  left: 0px;
  position: absolute;
  z-index: 2;
  background: var(--colorBlack);
  border: 1px solid #fff;
  border-radius: 10px;
}

.barfiller .tip:after {
  border: solid;
  border-color: #fff transparent;
  border-width: 8px 8px 0 8px;
  content: "";
  display: block;
  position: absolute;
  left: 12px;
  top: 100%;
  z-index: 9
}